//====================================================================================================
.header {

   &__top {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 5px 90px 5px 90px;
      color: #96a0aa;
      border-bottom: 1px solid #dddfe0;
      margin: 0 -90px;
   }

   &__top-right {
      display: flex;
      align-items: center;
   }

   &__adres {}

   &__social {
      @media (max-width:$md4+px) {
         margin: 0 10px;

      }
   }

   &__social-link {
      margin-right: 20px;
      @include adaptiv-font(24, 14);
      color: #96a0aa;
   }

   &__text {
      margin: 0px 30px 0px 10px;

      @media (max-width:$md3+px) {
         display: none;
      }

   }

   &__lang {}

   &__middle {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 18px 0px 22px 0px;
   }

   &__logo {}

   &__menu {
      @media (max-width:$md2+px) {
         background-color: #fff;
         z-index: 10;
         position: fixed;
         top: -200%;
         left: 0;
         width: 100%;
         height: 100%;
         display: flex;
         flex-direction: column;
         justify-content: center;
         align-items: center;
         @include anim(0.3s, 0s);

         &.active {
            top: 0;
         }
      }


   }

   &__menu-list {
      li {

         @media (min-width:$md2+px) {
            display: inline-block;
         }

         margin-right: 50px;

         &:last-child {
            margin-right: 0;
         }

         @media (max-width:1200px) {
            margin-right: 20px;
         }

         @media (max-width:$md2+px) {
            text-align: center;
            margin-bottom: 30px;
            margin-right: 0;
         }
      }
   }

   &__menu-link {
      color: #2a4564;
      font-size: 18px;

      @media (max-width:$md2+px) {
         font-size: 32px;

      }
   }

   &__phone {
      text-align: center;

      @media (max-width:$md4+px) {
         display: none;
      }
   }

   &__phone-link {
      @include adaptiv-font(28, 16);
      color: #2a4564;
      display: block;
      margin-bottom: 5px;
      font-weight: bold;
   }

   &__callbak {

      color: #2a4564;
      @include adaptiv-font(18, 14);
      text-align: center;
      border-bottom: 1px solid #2a4564;
   }
}

.container {}

.fab {}

.fa-vk {}

.fa-twitter {}

.logo {}

.header-menu {

   &__icon {}
}



@media (max-width:$md2+px) {
   .header-menu__icon {
      display: block;
      position: relative;
      order: 3;
      width: 30px;
      height: 18px;
      cursor: pointer;
      z-index: 105;

      span {
         @include anim(0.3s, 0s);
         top: 8px;
         left: 0px;
         position: absolute;
         width: 100%;
         height: 2px;
         background-color: #000;

         &:first-child {
            top: 0px;
         }

         &:last-child {
            top: auto;
            bottom: 0px;
         }
      }

      &.active {
         span {
            @include scale(0);

            &:first-child {
               @include rotate(-45deg);
               top: 8px;
            }

            &:last-child {
               @include rotate(45deg);
               bottom: 8px;
            }
         }
      }
   }
}



/*
font-family: "FontAwesome";



\f1d8 <i class="far fa-paper-plane"></i>  - самолетик
\f10d <i class="fas fa-quote-left"></i>  - кавычки
\f00e <i class="fas fa-search-plus"></i>
\f0c1 <i class="fas fa-link"></i>  --  линк
\f061 <i class="fas fa-arrow-right"></i>
\f060 <i class="fas fa-arrow-left"></i>
\f107 <i class="fas fa-angle-down"></i>  -  angle-down
\f106 <i class="fas fa-angle-up"></i>  -  angle-up
\f3cd - телефон
\f058 - check
\f406 - account
\f002, <i class="fas fa-search"></i> - поиск
\f07a, <i class="fas fa-shopping-cart"></i>
\f005, <i class="fas fa-star"></i> - звезда
\f1b9, <i class="fas fa-car"></i>
\f2f6, <i class="fas fa-sign-in-alt"></i> - лог ин
\f0e0, <i class="fas fa-envelope"></i> - конверт
\f879, <i class="fas fa-phone-alt"></i> - трубка телефона
\f3c5, <i class="fas fa-map-marker-alt"></i> - локация
\f017, <i class="far fa-clock"></i> - часы


СОЦСЕТИ
\f39e, <i class="fab fa-facebook-f"></i>
\f099, <i class="fab fa-twitter"></i>
\f0d5, <i class="fab fa-google-plus-g"></i>
\f231, <i class="fab fa-pinterest-p"></i>
\f16d, <i class="fab fa-instagram"></i>

*/