@font-face {
   font-family: "Poppins";
   src: local("../fonts/Poppinsmediumitalic"), local("../fonts/Poppinsmediumitalic"),
      url("../fonts/Poppinsmediumitalic.woff2") format("woff2"),
      url("../fonts/Poppinsmediumitalic.woff") format("woff"),
      url("../fonts/Poppinsmediumitalic.ttf") format("truetype");
   font-weight: 600;
   font-style: normal;
}